#-----------------------------------------------------
# File:	    .common-sh.rc: Common shell rc definitions;
#           Bash/Zsh common syntax.
# Version:  0.1.33.7
# Author:   Marco Elver <me AT marcoelver.com>
#-----------------------------------------------------

# Options/Variables {{{

LS_COLORS='rs=0:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:su=37;41:sg=30;43:tw=30;42:ow=01;32;44:st=37;44:ex=01;32:';
export LS_COLORS

# }}}

# Functions {{{

which_shell() {
	local result

	[[ -n "$BASH" ]] && result="$BASH"
	[[ -n "$ZSH_VERSION" ]] && result="$(which zsh)"

	if [[ -n "$result" ]]; then
		echo "$result"
	else
		# return default
		echo "$SHELL"
	fi
}

xtract () {
  if [[ -f $1 ]] ; then
    case $1 in
      *.tar.bz2)   tar xvvjf $1   ;;
      *.tar.gz)    tar xvvzf $1   ;;
      *.tar.lzma)  tar --lzma -xvvf $1 ;;
      *.tar.xz)    tar xvvJf $1   ;;
      *.tar)       tar xvvf $1    ;;
      *.tbz2)      tar xvvjf $1   ;;
      *.tgz)       tar xvvzf $1   ;;
      *.txz)       tar xvvJf $1   ;;
      *.bz2)       bunzip2 $1    ;;
      *.rar)       unrar x $1    ;;
      *.gz)        gunzip $1     ;;
      *.zip)       unzip $1      ;;
      *.Z)         uncompress $1 ;;
      *.7z)        7z x $1       ;;
      *)           echo "'$1' cannot be extracted (format unknown) !" ;;
    esac
  else
    echo "'$1' is not a valid file !"
  fi
}

gin () {
	cat >> $HOME/gtd-inbox <<EOF
[$(date "+%a %d/%m/%Y %H:%M %Z") @ $(hostname)] $*
EOF
}

xsess() {
	exec startx /etc/X11/xinit/xinitrc "$@"
}

color_setup() {
	case "$TERM" in
		*256color)
			export SCREEN_CMD="screen -T screen-256color -s $(which_shell)"

			case "$TERM" in
				rxvt-unicode-256color)
					export TMUX_CMD="SHELL=$(which_shell) _COLOR_TERM=screen-256color-it tmux"
					;;
				*)
					export TMUX_CMD="SHELL=$(which_shell) _COLOR_TERM=screen-256color tmux"
					;;
			esac

			alias screen="$SCREEN_CMD"
			alias tmux="$TMUX_CMD"
			;;
	esac

	if [[ -n "$TMUX" && -n "$_COLOR_TERM" ]]; then
		# Original term supports color, and we are in tmux
		export TERM=$_COLOR_TERM
	fi
}

# }}}

# Aliases {{{

case "$OSTYPE" in
	*linux*)
		alias ls='ls --color=auto'
		;;
	*freebsd*|*FreeBSD*)
		alias ls='ls -G'
		;;
esac

alias l='ls -F'
alias ll='ls -lh'
alias la='ls -al'

alias grep='grep --color=auto'

alias vinom='vim --cmd "let no_mouse_please=1" --cmd "set mouse=" -c "set mouse="'
alias gvimaf='gvim --cmd "let use_alt_font=1"'
alias vimnop='vim --cmd "let g:loaded_pathogen=1"'
alias gvimnop='gvim --cmd "let g:loaded_pathogen=1"'
alias vimnoac='vim +"let g:clang_complete_auto=0"'
alias gvimnoac='gvim +"let g:clang_complete_auto=0"'
alias vimtex='vim +"let NERDTreeIgnore=['"'"'\.\(out\|log\|ps\|dvi\|aux\|bbl\|blg\|toc\|lof\|lol\|lot\|nav\|snm\|bcf\|run\.xml\|pdf\)$'"'"', '"'"'\~$'"'"']"'
alias gvimtex='gvim +"let NERDTreeIgnore=['"'"'\.\(out\|log\|ps\|dvi\|aux\|bbl\|blg\|toc\|lof\|lol\|lot\|nav\|snm\|bcf\|run\.xml\|pdf\)$'"'"', '"'"'\~$'"'"']"'

export SCREEN_CMD="screen -s $(which_shell)"
export TMUX_CMD="SHELL=$(which_shell) tmux"
alias screen="$SCREEN_CMD"
alias tmux="$TMUX_CMD"
alias tmux-syst="sys-stat-helper; tmux"

alias wget-wwwoffline='wget --adjust-extension --convert-links --page-requisites --no-clobber --restrict-file-names=windows'

# }}}

# vim: set ft=sh :
