#-----------------------------------------------------
# File:	    .common-sh.rc: Common shell rc definitions;
#           Bash/Zsh common syntax.
# Version:  0.1.33.7
# Author:   Marco Elver <marco.elver AT gmail.com>
#-----------------------------------------------------

# Options/Variables {{{

LS_COLORS='rs=0:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:su=37;41:sg=30;43:tw=30;42:ow=34;42:st=37;44:ex=01;32:';
export LS_COLORS

# }}}

# Functions {{{

which_shell() {
	local result

	[[ -n "$BASH" ]] && result="$BASH"
	[[ -n "$ZSH_VERSION" ]] && result="$(which zsh)"

	if [[ -n "$result" ]]; then
		echo "$result"
	else
		# return default
		echo "$SHELL"
	fi
}

xtract () {
  if [[ -f $1 ]] ; then
    case $1 in
      *.tar.bz2)   tar xvvjf $1   ;;
      *.tar.gz)    tar xvvzf $1   ;;
      *.tar.lzma)  tar --lzma -xvvf $1 ;;
      *.tar.xz)    tar xvvJf $1   ;;
      *.tar)       tar xvvf $1    ;;
      *.tbz2)      tar xvvjf $1   ;;
      *.tgz)       tar xvvzf $1   ;;
      *.txz)       tar xvvJf $1   ;;
      *.bz2)       bunzip2 $1    ;;
      *.rar)       unrar x $1    ;;
      *.gz)        gunzip $1     ;;
      *.zip)       unzip $1      ;;
      *.Z)         uncompress $1 ;;
      *.7z)        7z x $1       ;;
      *)           echo "'$1' cannot be extracted (format unknown) !" ;;
    esac
  else
    echo "'$1' is not a valid file !"
  fi
}

gin () {
	cat >> $HOME/gtd-inbox <<EOF
[$(date "+%a %d/%m/%Y %H:%M %Z") @ $(hostname)] $*
EOF
}

color_setup() {
	case "$TERM" in
		*256color)
			alias screen="screen -T screen-256color -s $(which_shell)"
			alias tmux="SHELL=$(which_shell) _COLOR_TERM=1 tmux"
			;;
	esac

	if [[ -n "$TMUX" && -n "$_COLOR_TERM" ]]; then
		# Original term supports color, and we are in tmux
		export TERM=screen-256color
	fi
}

tmux_sysstat_helper() {
	local _sys_stat_file
	_sys_stat_file="/tmp/sys-stat-$USER"
	[[ -f "$_sys_stat_file" ]] && return

	if [[ "$1" == "background" ]]; then
		sys-stat -f "$_sys_stat_file" &
		sys_stat_pid=$!

		# Let tmux launch
		sleep 3s

		while pgrep -u "$USER" tmux; do
			sleep 15
		done

		# Clean up
		kill $sys_stat_pid
		rm "$_sys_stat_file" &> /dev/null
	else
		tmux_sysstat_helper background &> /dev/null &
	fi
}

# }}}

# Aliases {{{

if [[ "$OSTYPE" =~ "linux" ]]; then
	alias ls='ls --color=auto'
elif [[ "$OSTYPE" =~ "freebsd" ]]; then
	alias ls='ls -G'
fi

alias l='ls -F'
alias ll='ls -lh'
alias la='ls -al'

alias grep='grep --color=auto'

alias vinom='vim --cmd "let no_mouse_please=1" --cmd "set mouse=" -c "set mouse="'
alias vimproj='vim +Project'
alias vimprojc='vim +"Project .vimprojects"'
alias vimprojv='vim +"Project vimprojects"'
alias gvimproj='gvim +Project'
alias gvimprojc='gvim +"Project .vimprojects"'
alias gvimprojv='gvim +"Project vimprojects"'
alias gvimaf='gvim --cmd "let use_alt_font=1"'
alias vimnoac='vim +"let g:clang_complete_auto=0"'
alias gvimnoac='gvim +"let g:clang_complete_auto=0"'

alias screen="screen -s $(which_shell)"
alias tmux="SHELL=$(which_shell) tmux"
alias tmux-syst="tmux_sysstat_helper; tmux"

# }}}

# vim: set ft=sh :
